<ion-header>
  <ion-navbar>
    <ion-title>TÌM KIẾM SITE</ion-title>
    <ion-buttons *ngIf="!isSearch && dynamicList?.search_bar" start>
      <button ion-button icon-only color="royal" (click)="goSearch()">
          <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>

    <!-- <ion-buttons end *ngFor="let btn of dynamicList?.buttons">
        <button ion-button icon-only color="{{btn.color}}" (click)="onClick(btn)">
            <ion-icon name="{{btn.icon}}"></ion-icon>
        </button>
    </ion-buttons> -->

    <ion-searchbar *ngIf="isSearch && dynamicList?.search_bar" placeholder="{{dynamicList?.search_bar.hint}}"
        [(ngModel)]="searchString" [showCancelButton]="shouldShowCancel" (ionInput)="onInput($event)" (keyup.enter)="searchEnter()"
        (keyup.esc)="searchEnter()" start>
    </ion-searchbar>
    <!-- <ng2-completer [(ngModel)]="searchStr" [datasource]="dataService" [minSearchLength]="0"></ng2-completer> -->

    <!-- <ion-title *ngIf="!isSearch">{{dynamicList?.title}} ({{cycle?.name}})</ion-title> -->
  </ion-navbar>
</ion-header>

<ion-content>
    <ion-list>
        <!-- <ion-item>
            <ion-title>test</ion-title>
        </ion-item> -->
        <ion-item-sliding #slidingItem class="background-list" *ngFor="let site of dynamicList?.items">
            
                <ion-item #item class="background-item" tappable (click)="onClickItem(cycle)">
                    <!-- <ion-avatar item-start *ngIf="cycle.image">
                        <img [src]="cycle.image">
                    </ion-avatar> -->
                    <ion-title>{{site.site_id}}({{site.name}})</ion-title>
                    <h3>{{site.address}}</h3>
                    <ion-note item-end>{{site.create_time | date: 'dd/MM/yyyy'}}</ion-note>
                </ion-item>
    
                <ion-item-options>
                    <button ion-button color="danger" (click)="onClickDetails(slidingItem, cycle, 'LOCK')">
                        <ion-icon name="ios-construct-outline"></ion-icon>
                        Khóa chu kỳ
                    </button>
                    <button ion-button color="secondary" (click)="onClickDetails(slidingItem, cycle, 'REPAIR')">
                        <ion-icon name="print"></ion-icon>
                        Chỉnh sửa chu kỳ
                    </button>
                    <button ion-button color="primary" (click)="onClickDetails(slidingItem, cycle, 'MAINTAIN')">
                        <ion-icon name="ios-construct-outline"></ion-icon>
                        Bảo dưỡng
                    </button>
                </ion-item-options>
    
                <ion-item-options side="left">
                    <button ion-button color="primary" expandable (click)="onClickDetails(slidingItem, cycle, 'RELOAD')">
                        <ion-icon name="checkmark"></ion-icon>
                        <div>Tổng hợp</div>
                        <ion-spinner id="archive-spinner"></ion-spinner>
                    </button>
                </ion-item-options>

        </ion-item-sliding>

    </ion-list>
</ion-content>