<ion-header *ngIf="dynamicTree?.title">
	<ion-toolbar>
		<ion-buttons left >
			<button ion-button menuToggle color="primary">
				<ion-icon name="menu"></ion-icon>
			</button>
		</ion-buttons>

		<ion-title>{{dynamicTree?.title}}</ion-title>

		<ion-buttons right *ngIf="userInfo">
			<button *ngIf="chatRooms||chatFriends|| unreadMssages" class="badge-background" ion-button icon-only color="primary" (click)="onClickChatRoom()">
				<ion-icon name="ios-chatbubbles"></ion-icon>
				<ion-badge *ngIf="unreadMssages?.length>0" class="badge-alert" color="danger">{{ (unreadMssages?.length>99?'99+':unreadMssages?.length)}}</ion-badge>
			</button>
			<button *ngIf="contacts || chatFriends || chatNewFriends" class="badge-background" ion-button icon-only color="primary" (click)="onClickChatFriend()">
				<ion-icon name="md-contacts"></ion-icon>
				<ion-badge *ngIf="chatNewFriends?.length>0" class="badge-alert" color="danger">{{ (chatNewFriends?.length>99?'99+':chatNewFriends?.length) }}</ion-badge>
			</button>
			<button *ngIf="mySocket" class="badge-background" ion-button icon-only color="primary" (click)="onClickChatUser()">
				<ion-icon name="contact"></ion-icon>
				<ion-badge *ngIf="mySocket?.sockets?.length>1" class="badge-alert" color="danger">{{ (mySocket?.sockets?.length>99?'99+':mySocket?.sockets?.length) }}</ion-badge>
			</button>
			<button class="badge-background" ion-button icon-only color="secondary" (click)="onClickAdd()">
				<ion-icon name="images"></ion-icon>
			</button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content no-padding class="background-page">

	<!-- Phần component để nhập tin tức -->

	<ion-refresher (ionRefresh)="doInfinite($event,'UP')">
		<ion-refresher-content 
			pullingIcon="arrow-dropdown" 
			pullingText="Load dữ liệu mới hơn..." 
			refreshingSpinner="circles"
            refreshingText="Đang tải...">
        </ion-refresher-content>
	</ion-refresher>
	
    <ion-grid no-padding>
		<ion-row no-padding>
			<ion-col no-padding 
			class="background-card grid-border" 
			text-center 
			col-12 
			offset-xl-3 col-xl-6 
			offset-lg-2 col-lg-8
			offset-md-1 col-md-10 
			col-sm-12
			*ngFor="let it of dynamicTree?.items">
					
				<ion-row no-padding *ngIf="it">
					<ion-col no-padding class="background-card card-background-parent">
						<!-- Tiêu đề thông tin và các điều hướng bản tin này -->

						<!-- Nội dung thông tin được view và điều hướng xem thông tin -->
						<div *ngIf="it.content">
							<content-card 
							[contentData] = "it.content" 
							[showDetails]="it.show_detail" 
							(onClickSub)="onClickContent($event)"
							(onClickImage)="onClickImage($event)"
							></content-card>
						</div>

						<!-- Các hình ảnh được hiển thị ở cuối cùng -->
						<div *ngIf="it.medias" class="background-height">
							<image-card [imageData] = "it.medias" (onClickSub)="onClickMedia($event)"></image-card>
						</div>
						
					</ion-col>
				</ion-row>

			</ion-col>
		</ion-row>
	</ion-grid>

	<ion-infinite-scroll (ionInfinite)="doInfinite($event,'DOWN')">
		<ion-infinite-scroll-content 
		loadingSpinner="bubbles" 
		loadingText="Load dữ liệu cũ hơn...">
		</ion-infinite-scroll-content>
	</ion-infinite-scroll>

</ion-content>