<ion-header>
    <ion-navbar>
        <ion-title>CYCLES - CHU KỲ BẢO DƯỠNG</ion-title>
        <ion-buttons end color="primary">
            <button ion-button (click)="onClickHeaders('BUILD')">Tạo mới</button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-list>
        <!-- <ion-item>
            <ion-title>test</ion-title>
        </ion-item> -->
        <ion-item-sliding #slidingItem class="background-list" *ngFor="let cycle of maintenanceCycles">
            
                <ion-item #item class="background-item" tappable (click)="onClickItem(cycle)">
                    <!-- <ion-avatar item-start *ngIf="cycle.image">
                        <img [src]="cycle.image">
                    </ion-avatar> -->
                    <ion-title >Mã chu kỳ {{cycle.id}}</ion-title>
                    <h3>Năm {{cycle.year}} - Quý {{cycle.quarter}}</h3>
                    <p text-wrap>Mô tả {{cycle.description}}</p>
                    <ion-note item-end></ion-note>
                </ion-item>
    
                <ion-item-options>
                    <button ion-button color="bg-blue" (click)="onClickDetails(slidingItem, cycle, 'RE-BUILD')">
                        <ion-icon name="calculator"></ion-icon>
                        Phát hành lại
                    </button>
                    <button ion-button color="secondary" (click)="onClickDetails(slidingItem, cycle, 'PRINT-ALL')">
                        <ion-icon name="print"></ion-icon>
                        Tạo bản in
                    </button>
                    <button ion-button color="danger" (click)="onClickDetails(slidingItem, cycle, 'PRINT-ONE')">
                        <ion-icon name="list-box"></ion-icon>
                        In đơn lẻ
                    </button>
                </ion-item-options>
    
                <ion-item-options side="left">
                    <button ion-button color="primary" expandable (click)="onClickDetails(slidingItem, cycle, 'RELOAD')">
                        <ion-icon name="checkmark"></ion-icon>
                        <div>Reload</div>
                        <ion-spinner id="archive-spinner"></ion-spinner>
                    </button>
                </ion-item-options>

        </ion-item-sliding>

    </ion-list>
</ion-content>